<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="container">
    <h1>Jacob's Random Picture Gallery</h1>
    {% for img in imgs_sel %}
        <a href="{{ url_for('detail', id=img.id, title=img.title, author=img.flickr_user)}}"><h2>{{ img.title }}</h2></a>
        <a href="{{ url_for('detail', id=img.id, title=img.title, author=img.flickr_user)}}"><img src="/static/images/{{ img.id }}.jpg" width="250"
        class="img-fluid rounded" alt="" /></a>
    {% endfor %}

</div>
</body>
</html>